body {
	background-color: #f1f1f1
}

footer {
	margin-top: 5%;
}

form {
	margin-top: 5%;
}

.content {
	margin-top:2%;
	background-color: #ffffff;
}

.app-content {
	display: flex;
	justify-content: space-between;
}

#zipcode-selection {
	width:15%;
	display:flex;
	align-items: center;
}

#weather-display {
	width:80%;
}

.link-container {
	display: flex;
	flex-direction: column;
	height:80%;
	width: 100%;
	overflow-y: scroll;
}
	.link-container a {
		text-decoration: none;
		border-bottom: 1px solid #cccccc;
		padding-bottom: .1em;
		padding-top: .1em;
		text-align: center;
	}