body {
	background-color: #f1f1f1
}

footer {
	margin-top: 5%;
}

form {
	margin-top: 5%;
}

.content {
	margin-top:2%;
	background-color: #ffffff;
}

.link-container {

}
	.link-container a {
		display: block;
	}

.form-display {
	display: flex;
	margin-bottom: 2%;
}
	.form-display label {
		min-width: 15%;
		max-width: 15%;
	}

	.form-display div {
		margin-right: 2%;
	}

}